@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="homestyle.css" />
<div class="jumbotron" style="background-color:black">
    <img id="jumbotronLogo" src="~/Images/rocBook1.png" alt="rocbook" />
    <p id="jumbotronText">[roc]book is a soc net site for local musicians to connect, share original music, collaborate and enjoy the art and craft in all forms. Welcome to the [roc], we hope you'll stay. Register below to start connecting.</p>
    <p><a href="~/UserProfiles/Create" class="btn btn-danger btn-lg"> Sign Up &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Connect</h2>
        <p>
            Connect with local musicians or across the country, it's up to you.  Musicians are no longer bound to those close to you to collaborate.  Make friend, share ideas,  and make music together.  For generations music has brought people together. [roc]book makes sure to follow in that tradition.
        </p>
        <br />
        <img class="indexImg" src="http://pre15.deviantart.net/ac14/th/pre/f/2013/232/d/4/d435ead2da7b4bc0022828a424d9840d-d6ixibl.jpg" />
        
    </div>
    <div class="col-md-4">
        <h2>Get Inspired</h2>
        <img class="indexImg" src="http://s8.favim.com/orig/72/fairy-tales-life-music-people-Favim.com-686471.jpg" />
        <br />
        <br />
        <p>Open yourself up to new kinds of music.  Stretch your boundaries.  Seek out new ways to make something that sounds great to you.  Get outside of the box.  The is a place for original music for you by you.  The musicians who do it for the love of the music.  Not for fame.  Not for fortune.  Just because we can.</p>
        
        
    </div>
    <div class="col-md-4">
        <h2>Share Original Music</h2>
        <p>This is your site.  This is your music. Share it with the world.  You never know who it might touch or inspire.  Be bold. Be original. Be you. Somebody is always listening and looking for something new.   </p>
        <br />
        <h4><em>This Month's Featured Artist</em></h4>
        <iframe id="featuredVideo" src="https://www.youtube.com/embed/1hzVmmlW-mE" frameborder="0" allowfullscreen></iframe>
    </div>
</div>