@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ToDo App</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body ng-app="toDoApp">
    <div class="container" ng-controller="TasksController">
        <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-5 col-lg-offset-3 col-lg-5">
            <h2>ToDo App</h2>
            <!-- Form Starts Here -->
            <div class="form">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="task">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="addTask()">
                            <span class="glyphicon glyphicon-plus"></span> Add Task
                        </button>
                    </span>
                </div><!-- /input-group -->
            </div>
            <hr />
            <!-- Form Ends Here -->
            <!-- Task List Starts Here -->
            <ul class="list-group" ng-show="tasks.length > 0">
                <li class="list-group-item clearfix task" ng-repeat="todo in tasks" ng-class="{disabled: todo.done}">
                    <p class="lead">{{todo.task}}</p>
                    <div>
                        <span class="pull-right">
                            <button class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-pencil"
                                      ng-click="editTask($index)"></span>
                            </button>
                            <button class="btn btn-primary btn-xs" ng-show="!todo.done">
                                <span class="glyphicon glyphicon-ok"
                                      ng-click="doneTask($index)"></span>
                            </button>
                            <button class="btn btn-primary btn-xs" ng-show="todo.done">
                                <span class="glyphicon glyphicon-repeat"
                                      ng-click="unDoneTask($index)"></span>
                            </button>
                            <button class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-remove"
                                      ng-click="deleteTask($index)"></span>
                            </button>
                        </span>
                    </div>
                </li>
            </ul>
            <!-- Task List Ends Here -->
        </div>
    </div>



    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/ngApp/app.js"></script>
    <script src="~/ngApp/controllers.js"></script>
    <script src="~/ngApp/services.js"></script>
</body>
</html>