// replace outer and inner as appropriate
.navbar-nav {
    
    > li {

        height: 350px;
        position: relative;
        //background-clip: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        overflow: hidden;
        width: 94%;
        margin: 0 auto 30px;
        background-image: url(http://i.imgur.com/UKyeAW3.jpg);

        > a {
            text-transform: uppercase;
            font-weight: 800;
            text-align: center;
            text-decoration: none;
            color: #fff;
            display: block;
            font-size: 4.875em;
            width: 242px;
            height: 94px;
            line-height: 94px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -121px;
            margin-top: -47px;
            z-index: 10;

            &:before {
                color: #FF0000;
            }

            &:after {
                color: #FFBF00;
            }

            &:before, &:after {
                content: attr(data-cont);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: -1;            
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            &:hover:before {
                -webkit-animation: fire 3s infinite;
                -moz-animation: fire 3s infinite;
                -o-animation: fire 3s infinite;
                animation: fire 3s infinite;
            }
        }
    }
}

@-moz-keyframes fire {
    0% {
        -webkit-filter: blur(27px);
        filter: blur(27px);
    }

    10% {
        -webkit-filter: blur(37px);
        filter: blur(37px);
    }

    20% {
        -webkit-filter: blur(42px);
        filter: blur(42px);
    }

    30% {
        -webkit-filter: blur(28px);
        filter: blur(28px);
    }

    40% {
        -webkit-filter: blur(18px);
        filter: blur(18px);
    }

    50% {
        -webkit-filter: blur(25px);
        filter: blur(25px);
    }

    60% {
        -webkit-filter: blur(29px);
        filter: blur(29px);
    }

    70% {
        -webkit-filter: blur(32px);
        filter: blur(32px);
    }

    80% {
        -webkit-filter: blur(30px);
        filter: blur(30px);
    }

    90% {
        -webkit-filter: blur(35px);
        filter: blur(35px);
    }

    100% {
        -webkit-filter: blur(27px);
        filter: blur(27px);
    }
}

@-webkit-keyframes fire {
    0% {
        -webkit-filter: blur(27px);
        filter: blur(27px);
    }

    10% {
        -webkit-filter: blur(37px);
        filter: blur(37px);
    }

    20% {
        -webkit-filter: blur(42px);
        filter: blur(42px);
    }

    30% {
        -webkit-filter: blur(28px);
        filter: blur(28px);
    }

    40% {
        -webkit-filter: blur(18px);
        filter: blur(18px);
    }

    50% {
        -webkit-filter: blur(25px);
        filter: blur(25px);
    }

    60% {
        -webkit-filter: blur(29px);
        filter: blur(29px);
    }

    70% {
        -webkit-filter: blur(32px);
        filter: blur(32px);
    }

    80% {
        -webkit-filter: blur(30px);
        filter: blur(30px);
    }

    90% {
        -webkit-filter: blur(35px);
        filter: blur(35px);
    }

    100% {
        -webkit-filter: blur(27px);
        filter: blur(27px);
    }
}

@keyframes fire {
    0% {
        -webkit-filter: blur(27px);
        filter: blur(27px);
    }

    10% {
        -webkit-filter: blur(37px);
        filter: blur(37px);
    }

    20% {
        -webkit-filter: blur(42px);
        filter: blur(42px);
    }

    30% {
        -webkit-filter: blur(28px);
        filter: blur(28px);
    }

    40% {
        -webkit-filter: blur(18px);
        filter: blur(18px);
    }

    50% {
        -webkit-filter: blur(25px);
        filter: blur(25px);
    }

    60% {
        -webkit-filter: blur(29px);
        filter: blur(29px);
    }

    70% {
        -webkit-filter: blur(32px);
        filter: blur(32px);
    }

    80% {
        -webkit-filter: blur(30px);
        filter: blur(30px);
    }

    90% {
        -webkit-filter: blur(35px);
        filter: blur(35px);
    }

    100% {
        -webkit-filter: blur(27px);
        filter: blur(27px);
    }
}

@-moz-keyframes fire2 {
    0% {
        -webkit-filter: blur(7px);
        filter: blur(7px);
    }

    10% {
        -webkit-filter: blur(17px);
        filter: blur(17px);
    }

    20% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
    }

    30% {
        -webkit-filter: blur(8px);
        filter: blur(8px);
    }

    40% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
    }

    50% {
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }

    60% {
        -webkit-filter: blur(9px);
        filter: blur(9px);
    }

    70% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
    }

    80% {
        -webkit-filter: blur(10px);
        filter: blur(10px);
    }

    90% {
        -webkit-filter: blur(15px);
        filter: blur(15px);
    }

    100% {
        -webkit-filter: blur(17px);
        filter: blur(17px);
    }
}

@-webkit-keyframes fire2 {
    0% {
        -webkit-filter: blur(7px);
        filter: blur(7px);
    }

    10% {
        -webkit-filter: blur(17px);
        filter: blur(17px);
    }

    20% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
    }

    30% {
        -webkit-filter: blur(8px);
        filter: blur(8px);
    }

    40% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
    }

    50% {
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }

    60% {
        -webkit-filter: blur(9px);
        filter: blur(9px);
    }

    70% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
    }

    80% {
        -webkit-filter: blur(10px);
        filter: blur(10px);
    }

    90% {
        -webkit-filter: blur(15px);
        filter: blur(15px);
    }

    100% {
        -webkit-filter: blur(17px);
        filter: blur(17px);
    }
}

@keyframes fire2 {
    0% {
        -webkit-filter: blur(7px);
        filter: blur(7px);
    }

    10% {
        -webkit-filter: blur(17px);
        filter: blur(17px);
    }

    20% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
    }

    30% {
        -webkit-filter: blur(8px);
        filter: blur(8px);
    }

    40% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
    }

    50% {
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }

    60% {
        -webkit-filter: blur(9px);
        filter: blur(9px);
    }

    70% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
    }

    80% {
        -webkit-filter: blur(10px);
        filter: blur(10px);
    }

    90% {
        -webkit-filter: blur(15px);
        filter: blur(15px);
    }

    100% {
        -webkit-filter: blur(17px);
        filter: blur(17px);
    }
}
