<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://zombiefist.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>zombiefist.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>zombiefist</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$zombiefist</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=zombiefistserver.database.windows.net;Initial Catalog=zombiefistdb;Persist Security Info=True;User ID=zombiefist;Password=$zombiep@55" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ZombieFist.Models.Data.ApplicationDbContext, ZombieFist" MigrationConfiguration="ZombieFist.Migrations.Configuration, ZombieFist" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ZombieFist.Models.Data.ApplicationDbContext+DataContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ZombieFist.Models.Data.ApplicationDbContext+DataContext, ZombieFist" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=zombiefistserver.database.windows.net;Initial Catalog=zombiefistdb;Persist Security Info=True;User ID=zombiefist;Password=$zombiep@55</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ZombieFist.Models.Data.ApplicationDbContext+DataContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ZombieFist.Models.Data.ApplicationDbContext+DataContext" />
  </ItemGroup>
</Project>